# 0. Importing the Libraries

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os, sys, re, json, time
import itertools, collections
from importlib import reload
from IPython.display import display
import scipy.sparse
import nltk
from w266_common import utils, vocabulary, tf_embed_viz

/home/luisarmandovillarreal/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

# 1. Getting Tickers and Tweets

We have two different data folders ('data' and 'data2'). This is because we first got all the tweets that mentioned name of stock as per the convention $ (ticker). 

Afterwards we got tweets that include names of companies along with their ticker symbols in the tweets. For example, we gathered any tweet that mentioned Amazon, and any tweet that mention $ (AMZN). This substantially increased our tweet count.

Our tweets dataset consist of tweets pertaining to S&P500 Top 50 companies only.

In [2]:
# getting all the files in folder 'data'
files = []
for file in os.listdir('data'):
    if file.endswith('.csv'):
        files.append(os.path.join('data', file))

In [3]:
# creating dataframe from files in 'data' folder

data = []

for filename in files:
    with open(filename, 'r') as file:
        ticker = filename.split('_')[-1][:-4]
        line = file.readline()
        line = file.readline()
        while(line):
            ts =line.split(';"')[0][1:].split(';')[0]
            tweet = line.split(';"')[1].split('";')[0]
            tweet_id = line.split('/')[-1][:-1] 
            line=file.readline()
            data.append([tweet_id,ticker,ts,tweet])
        
#df = pd.DataFrame(data, columns=['tweet_id','ticker','timestamp','tweet'])
#df

In [4]:
# getting all the files in 'data2' folder
files1 = []
for file in os.listdir('data2'):
    if file.endswith('.csv'):
        files1.append(os.path.join('data2', file))

In [5]:
# creating dataframe for files in 'data2' folder


for filename in files1:
    with open(filename, 'r') as file:
        ticker = filename.split('_')[-1][:-4]
        line = file.readline()
        line = file.readline()
        while(line):
            ts =line.split(';"')[0][1:].split(';')[0]
            tweet = line.split(';"')[1].split('";')[0]
            tweet_id = line.split('/')[-1][:-1] 
            line=file.readline()
            data.append([tweet_id,ticker,ts,tweet])
        
df = pd.DataFrame(data, columns=['tweet_id','ticker','timestamp','tweet'])

As can be seen from shapes of dataframes below, our first dataframe has considerably less tweets than the second one.

In [6]:
print(df.shape)

(3144677, 4)

In [7]:
df.head()

,tweet_id,ticker,timestamp,tweet
0,1105569239845478401,DWDP,2019-03-12 20:40,4 nice trades today 3 swings ($csco $ dwdp $ m...
1,1105566065369722885,DWDP,2019-03-12 20:27,$ AAPL - scaled out 2/3 into strength; 1/3 sto...
2,1105548846279450624,DWDP,2019-03-12 19:19,SLD 100 $ DWDP @55.69
3,1105548512119283713,DWDP,2019-03-12 19:18,BOT $ DWDP Apr 55 call @2.34
4,1105521484640980995,DWDP,2019-03-12 17:30,"# estate asset watch - stocks with momentum, 5..."

In [8]:
companies_dict = {'Union':'UNP', 'Disney':'DIS', 'Nike':'NKE', 'Chevron':'CVX',
                  'Intel':'INTC', 'Bank':'BAC', 'Pepsi':'PEP', 'Amgen':'AMGN',
                  'AT&T':'T', 'Procter':'PG', 'Microsoft':'MSFT', 'Wells':'WFG',
                  'Walmart':'WMT', 'Citigroup':'C', 'Verizon':'VZ', 'Exxon-Mobil':'XOM',
                  'Apple':'AAPL', 'Mastercard':'MA', 'Merck':'MRK', 'Boeing':'BA', 
                  'Comcast':'CMCSA', 'Salesforce':'CRM', 'Home':'HD', 'Berkshire':'BRK',
                  'Cisco':'CSCO', 'ATT':'T', 'Dow':'DWDP', 'Coca-Cola':'KO', 'Visa':'V',
                  'Facebook':'FB', 'Johnson':'JNJ', 'Abbott':'ABBT', 'Broadcom':'AVGO',
                  '3M':'MMM', 'Pfizer':'PFE', 'Amazon':'AMZN', 'Honeywell':'HON', 'Adobe':'ADBE',
                  'Google':'GOOG', 'Netflix':'NFLX', 'Eli':'LLY', 'Phillips':'PM', 'United':'UNP',
                  'AbbVie':'ABBV', 'McDonald':'MCD', 'JP':'JPM', 'Paypal':'PYPL', 'Oracle':'ORCL', 
                  'Medtronic':'MDT'}

In [9]:
# Associate tickers with company names

for key, value in companies_dict.items():
    df.loc[df['ticker'] == key, 'ticker'] = value
    #combined_df.at[index, 'ticker'] = companies_dict[row['ticker']]

In [11]:
# Get Nasdaq Stock Symbols
os.system("curl --ftp-ssl anonymous:jupi@jupi.com "
          "ftp://ftp.nasdaqtrader.com/SymbolDirectory/nasdaqlisted.txt "
          "> nasdaq.lst")

0

In [12]:
!head -43 nasdaq.lst

<!DOCTYPE html><html data-adblockkey="MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANDrp2lz7AOmADaN8tA50LsWcjLFyQFcb/P2Txc58oYOeILb3vBw7J6f4pamkAQVSQuqYsKx3YzdUHCvbVZvFUsCAwEAAQ==_pxrolOu5yyzUS0zMNgm01mNbFq+3Njr33BJOzQ+JCg65FKwTyH/JswWy8wg/VocffrVzS1j7NXxyt+jJ2gFZsQ=="><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><title></title><meta name="viewport" content="width=device-width, initial-scale=1"><meta name="description" content="See related links to what you are looking for."/></head><!--[if IE 6 ]><body class="ie6"><![endif]--><!--[if IE 7 ]><body class="ie7"><![endif]--><!--[if IE 8 ]><body class="ie8"><![endif]--><!--[if IE 9 ]><body class="ie9"><![endif]--><!--[if (gt IE 9)|!(IE)]> --><body><!--<![endif]--><script type="text/javascript">g_pb=(function(){var
DT=document,azy=location,DD=DT.createElement('script'),aAA=false,LU;DD.defer=true;DD.async=true;DD.src="//www.google.com/adsense/domains/caf.js";DD.onerror=function(){if(azy.search!=='?z'){azy.href='/?z';}};DD.onload=DD.onreadystatechange=function(){if(!aAA&&LU){if(!window['googleNDT_']){}
LU(google.ads.domains.Caf);}
aAA=true;};DT.body.appendChild(DD);return{azl:function(n$){if(aAA)
n$(google.ads.domains.Caf);else
LU=n$;},bq:function(){if(!aAA){DT.body.removeChild(DD);}}};})();g_pd=(function(){var
azy=window.location,nw={},bH,azw=azy.search.substring(1),aAs,aAu;if(!azw)
return nw;aAs=azw.split("&");for(bH=0;bH<aAs.length;bH++){aAu=aAs[bH].split('=');nw[aAu[0]]=aAu[1]?aAu[1]:"";}
return nw;})();g_pc=(function(){var $is_ABP_whitelisted=null;var $Image1=new Image;var $Image2=new Image;var $error1=false;var $error2=false;var $remaining=2;var $random=Math.random()*11;function $imageLoaded(){$remaining--;if($remaining===0)
$is_ABP_whitelisted=!$error1&&$error2;}
$Image1.onload=$Image2.onload=$imageLoaded;$Image1.onerror=function(){$error1=true;$imageLoaded();};$Image2.onerror=function(){$error2=true;$imageLoaded();};$Image1.src='/px.gif?ch=1&rn='+$random;$Image2.src='/px.gif?ch=2&rn='+$random;return{azo:function(){return'&abp='+($is_ABP_whitelisted?'1':'0');},$isWhitelisted:function(){return $is_ABP_whitelisted;},$onReady:function($callback){function $poll(){if($is_ABP_whitelisted===null)
setTimeout($poll,100);else $callback();}
$poll();}}})();(function(){var aAm=screen,Rr=window,azy=Rr.location,aAz=top.location,DT=document,Sf=DT.body||DT.getElementsByTagName('body')[0],aAx=0,aAv=0,aAw=0,$IE=null;if(Sf.className==='ie6')
$IE=6;else if(Sf.className==='ie7')
$IE=7;else if(Sf.className==='ie8')
$IE=8;else if(Sf.className==='ie9')
$IE=9;function aAt($callback){aAw++;aAx=Rr.innerWidth||DT.documentElement.clientWidth||Sf.clientWidth;aAv=Rr.innerHeight||DT.documentElement.clientHeight||Sf.clientHeight;if(aAx>0||aAw>=5){$callback();}
else{setTimeout(aAt,100);}}
var $num_requirements=2;function $requirementMet(){$num_requirements--;if($num_requirements===0)
aAy();}
aAt($requirementMet);g_pc.$onReady($requirementMet);function aAy(){var ef=undefined,IQ=encodeURIComponent,aAr;if(aAz!=azy&&g_pd.r_s===ef)
aAz.href=azy.href;aAr=DT.createElement('script');aAr.type='text/javascript';aAr.src='/glp'+'?r='+(g_pd.r!==ef?g_pd.r:(DT.referrer?IQ(DT.referrer.substr(0,255)):''))+
(g_pd.r_u?'&u='+g_pd.r_u:'&u='+IQ(azy.href.split('?')[0]))+
(g_pd.gc?'&gc='+g_pd.gc:'')+
(g_pd.cid?'&cid='+g_pd.cid:'')+
(g_pd.query?'&sq='+g_pd.query:'')+
(g_pd.search?'&ss=1':'')+
(g_pd.a!==ef?'&a':'')+
(g_pd.z!==ef?'&z':'')+
(g_pd.z_ds!==ef?'&z_ds':'')+
(g_pd.r_s!==ef?'&r_s='+g_pd.r_s:'')+
(g_pd.r_d!==ef?'&r_d='+g_pd.r_d:'')+'&rw='+aAm.width+'&rh='+aAm.height+
(g_pd.r_ww!==ef?'&ww='+g_pd.r_ww:'&ww='+aAx)+
(g_pd.r_wh!==ef?'&wh='+g_pd.r_wh:'&wh='+aAv)+
(g_pc.$isWhitelisted()?'&abp=1':'')+
($IE!==null?'&ie='+$IE:'')+
(g_pd.partner!==ef?'&partner='+g_pd.partner:'')+
(g_pd.subid1!==ef?'&subid1='+g_pd.subid1:'')+
(g_pd.subid2!==ef?'&subid2='+g_pd.subid2:'')+
(g_pd.subid3!==ef?'&subid3='+g_pd.subid3:'')+
(g_pd.subid4!==ef?'&subid4='+g_pd.subid4:'')+
(g_pd.subid5!==ef?'&subid5='+g_pd.subid5:'');Sf.appendChild(aAr);}})();</script></body></html>Symbol|Security Name|Market Category|Test Issue|Financial Status|Round Lot Size|ETF|NextShares
AABA|Altaba Inc. - Common Stock|Q|N|N|100|N|N

In [13]:
!tail -10 nasdaq.lst

ZSAN|Zosano Pharma Corporation - Common Stock|S|N|N|100|N|N
ZUMZ|Zumiez Inc. - Common Stock|Q|N|N|100|N|N
ZVZZC|NASDAQ TEST STOCK Nextshares Test Security|G|Y|N|100||Y
ZVZZT|NASDAQ TEST STOCK|G|Y|N|100||N
ZWZZT|NASDAQ TEST STOCK|S|Y|N|100||N
ZXYZ.A|Nasdaq Symbology Test Common Stock|Q|Y|N|100||N
ZXZZT|NASDAQ TEST STOCK|G|Y|N|100||N
ZYNE|Zynerba Pharmaceuticals, Inc. - Common Stock|G|N|N|100|N|N
ZYXI|Zynex, Inc. - Common Stock|S|N|N|100|N|N
File Creation Time: 0408201903:03|||||||

In [14]:
!tail -n +43 nasdaq.lst | cat | sed '$d' | sed 's/|/ /g' > nasdaq.lst2

In [15]:
!echo; head nasdaq.lst2; echo "..."; tail nasdaq.lst2

AABA Altaba Inc. - Common Stock Q N N 100 N N
AAL American Airlines Group, Inc. - Common Stock Q N N 100 N N
AAME Atlantic American Corporation - Common Stock G N N 100 N N
AAOI Applied Optoelectronics, Inc. - Common Stock G N N 100 N N
AAON AAON, Inc. - Common Stock Q N N 100 N N
AAPL Apple Inc. - Common Stock Q N N 100 N N
AAWW Atlas Air Worldwide Holdings - Common Stock Q N N 100 N N
AAXJ iShares MSCI All Country Asia ex Japan Index Fund G N N 100 Y N
AAXN Axon Enterprise, Inc. - Common Stock Q N N 100 N N
ABCB Ameris Bancorp - Common Stock Q N N 100 N N
...
ZS Zscaler, Inc. - Common Stock Q N N 100 N N
ZSAN Zosano Pharma Corporation - Common Stock S N N 100 N N
ZUMZ Zumiez Inc. - Common Stock Q N N 100 N N
ZVZZC NASDAQ TEST STOCK Nextshares Test Security G Y N 100  Y
ZVZZT NASDAQ TEST STOCK G Y N 100  N
ZWZZT NASDAQ TEST STOCK S Y N 100  N
ZXYZ.A Nasdaq Symbology Test Common Stock Q Y N 100  N
ZXZZT NASDAQ TEST STOCK G Y N 100  N
ZYNE Zynerba Pharmaceuticals, Inc. - Common Stock G N N 100 N N
ZYXI Zynex, Inc. - Common Stock S N N 100 N N

In [16]:
!awk '{print $1}' nasdaq.lst2 > nasdaq.csv

In [10]:
tickers = pd.read_csv('nasdaq.csv', index_col=None, header=None)
tickers.columns = ['ticker']

In [11]:
 # Get NYSE Symbols
nyse = pd.read_csv('companylist.csv')
cols = [1,2,3,4,5,6,7,8,9]
nyse.drop(nyse.columns[cols],axis=1,inplace=True)
nyse.columns = ['ticker']
tickers = tickers.append(nyse)
tickers = list(tickers['ticker'])

In [12]:
# Get Tweets associated with more than one stock...

# First, using the tweet id...
g = df.groupby('tweet_id').size().reset_index(name='count')
print('Tweets associated with more than one stock:',"{:,}".format(sum(g[g['count']>1]['count'])))

# Delete those tweet ids
tweets_ids_to_drop = list(g[g['count']>1]['tweet_id'])
df = df[~df.tweet_id.isin(tweets_ids_to_drop)]
df.shape

Tweets associated with more than one stock: 542,968

(2601709, 4)

In [13]:
# This one takes a while when run for the first time

import glove_helper; reload(glove_helper)

hands = glove_helper.Hands(ndim=100)

Loading vectors from data/glove/glove.6B.zip
Parsing file: data/glove/glove.6B.zip:glove.6B.100d.txt
Found 400,000 words.
Parsing vectors... Done! (W.shape = (400003, 100))

In [14]:
# Second, discard tweets that mention multiple stocks
# This one takes a while, hang in there
# Take advantage of the whole iteration and transform tweet for classifier
df_duplicate = df.copy()

indices_to_drop = []

for row in df_duplicate.itertuples():
    if row[0]%1000==0:
        print(row[0],end='\r')

    tweet_no_url = re.sub(r'http\S+', '', row[-1])
    tokens = tweet_no_url.split(' ')
    sentence = '<s> '
    flag = True
    prev_token = ''
    for token in tokens:
        try:
            a = hands.vocab.word_to_id[token.lower()]
            sentence = sentence + token.lower() + ' '

        except:
            pass

        if token in tickers and prev_token == '$':

            if token != row[2]:
                indices_to_drop.append(row[0])
                flag=False
                break
        
        prev_token = token
    
    sentence += '</s>'
    
    if flag:
        
        df_duplicate.at[row[0],'tweet'] = re.sub('[^A-Za-z0-9 <>/]+', '', sentence)

df_duplicate.drop(indices_to_drop, inplace=True)

1158723

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

289535412868212182124

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [16]:
df_duplicate.to_csv('data/clean_tweets.csv', index=False)

In [15]:
df_duplicate.head()

,tweet_id,ticker,timestamp,tweet
24,110526365952428032,DWDP,2019-03-12 00:26,<s> traders sell shares of on strength </s>
25,1103805919568293888,T,2019-03-07 23:53,<s> ich ich </s>
26,1103801007375552514,T,2019-03-07 23:34,<s> house democrats seek details of trump eff...
56,1103735736153432064,T,2019-03-07 19:14,<s> t two new revenue streams att inves...
63,1103724496027115520,T,2019-03-07 18:30,<s> telus co declares quarterly dividend of t...